# Kopiraj ovaj fajl u .env i upiši svoje API ključeve.
# .env NIKAD ne commit-uj na GitHub (već je u .gitignore).

# Besplatan ključ: https://www.virustotal.com/gui/my-apikey
VT_API_KEY=your_virustotal_api_key_here

# Besplatan ključ: https://www.abuseipdb.com/account/api
ABUSEIPDB_API_KEY=your_abuseipdb_api_key_here
